@model AuthorViewModel
@{
    ViewData["Title"] = "Author Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>

    @if(string.IsNullOrEmpty(Model.AuthorPhotoUrl))
    {
        <p>No Author Image Available for @Model.Name</p>
    } 
    else 
    {        
         <img src="@Model.AuthorPhotoUrl" alt="@Model.Name Image" width="100">
    }

    @if(Model.YearOfBirth.HasValue )
    {
        <p>@Model.YearOfBirth</p>
    } else 
    {
        <p>No Year of Birth available.</p>
    }


    @if(string.IsNullOrEmpty(Model.Bio))
    {
        <p>No Bio Available</p>
    } 
    else 
    {        
        <p>@Model.Bio</p>
    }

    @if(Model.Books == null)
    {
        <p>Author has no Books Available </p>
    }
    else
    {
        @foreach(var book in Model.Books)
        {
            <a  asp-controller="Books" asp-action="@book.Isbn">        
                <p class="display-6">@book.Title</p>
            </a>
        }
    }

</div>